body{    font-family: 'Montserrat', sans-serif;
}
main , footer{margin: 0px 55px;}

.top__wix__header {
    margin: 0px;
    padding: 13px 45px;
    width: 100%;
    position:fixed;
    background-color: white;
    z-index: 1;
}

.top__wix__header__wix img {
    width: 66px;
    height: 25px;
}

.monitor__img {
    height: 36px;
    padding: 0px 20px;
    border-right: 1px solid rgb(193, 185, 185);
}

.phone__img {
    height: 29px;
    padding-left: 16px;
}

#top__wix__header__left__p {
    font-size: 15px;
}

#top__wix__header__left__a {
    color: black;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 35px;
}
#top__wix__header__left__a:hover{
    color: rgb(0, 162, 255);
}

.top__wix__header div {
    display: inline-block;
}

.top__wix__header__right {
    float: right;
}

.top__wix__header__center {
    margin-left: 518px;

}

.top__wix__header__left__button {
    border-radius: 21px !important;
    height: 42px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.header__logo {
   padding: 105px 80px 22px 80px;
}

.header__logo a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

#ak {
    font-size: 25px;
}

#ph {
    font-size: 11px;
}

.header__ul {
    float: right;
    list-style-type: none;

}

.header__ul>li {
    display: inline-block;
    padding-top: 4px;
    padding-right: 24px;
}

.header__ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.header__ul>li>a:active {
    text-decoration: none;
    color: #AA3A3A;
}

.header__ul>li>a:hover {
    color: #AA3A3A;
}

.about__main__p {
    margin-top: 70px;
    margin-bottom: 65px;
    text-align: center;
    font-size: 31px;
    letter-spacing: 12px;
}

.about__main__melumat__sekil {
    display: flex;
    justify-content: center;
}

.about__main__melumat {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 195px;
    text-align: center;
    width: 300px;
    font-size: 13px;
    line-height: 1.9em;

}

.about__main__melumat__biography {
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.about__main__sekil {
    display: inline-block;
    width: 473px;
    height: 579px;
}

.about__main__sekil img {
    height: 579px;
    width: 553px;
    object-fit: cover;
}

.about__main__awards__exhibitions {
    display: flex;
    justify-content: center;
}

.about__main__awards__exhibitions h2 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 18px;

}

.about__main__awards {
    text-align: center;
    display: inline-block;
    margin-right: 130px;
    font-size: 16px;
}

.about__main__awards span {
    font-weight: bold;
}

.about__main__awards div {
    margin-bottom: 50px;
}

.about__main__exhibitions div {
    margin-bottom: 50px;
}

.about__main__exhibitions {
    text-align: center;
    display: inline-block;
    margin-left: 100px;
    font-size: 16px;

}

.selected__clients {
    height: 480px;
    width: 980px;
    margin: auto;

}

.selected__clients p {
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.about__main__selected__clients img {
    margin-left: 90px;
    margin-bottom: 35px;
}

.about__main__selected__clients__div1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.about__main__selected__clients__div2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    margin-bottom: 30px;
    font-size: 13px;
}

footer a {
    color: black;
}